.task {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  .title-box {
    margin-right: 10px;
    font-weight: bold;
    width: 8rem;
    display: inline-block;
    
  }
  .status {
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
  }
  .toggle{
    border-radius: 5px;
  }
  .inputEdit{
    margin-right: 10px;
  }
}
